[submodule "etiss-perf-sim"]
	path = etiss-perf-sim
	url = git@github.com:tum-ei-eda/etiss-perf-sim.git
[submodule "M2-ISA-R-Perf"]
	path = M2-ISA-R-Perf
	url = git@github.com:tum-ei-eda/M2-ISA-R-Perf.git
